<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bosh sahifa</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <h1>Homepage</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto asperiores at consequatur cupiditate distinctio, earum eveniet excepturi exercitationem hic id impedit ipsam non odit sed similique totam unde, voluptatum?</p>
    {% endblock content %}
</body>
</html>